In [1]:
import os
import pandas as pd
import numpy as np
import json
import seaborn as sns
import funcTest as ft
import funcData as fd

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
path_rawdata = 'F://TFG//datasets/raw_datasets/\\'
path_train = 'F://TFG//datasets//data_train//'

rawdata = pd.read_csv(path_rawdata+'rawDB.csv');
footdata = pd.read_csv(path_rawdata+'fdataDB.csv')

### DATOS EN BRUTO DE NATURE

In [42]:
rawdata[:5]

,wyId,competitionId,seasonId,roundId,dateutc,winner,scoreET_home,coachId_home,side_home,teamId_home,...,scoreHT_home,scoreET_away,coachId_away,side_away,teamId_away,score_away,scoreP_away,hasFormation_away,formation_away,scoreHT_away
0,2576335,524,181248,4406278,2018-05-20 18:45:00,3161,0,251025,home,3162,...,2,0,101547,away,3161,3,0,1,"{'bench': [{'playerId': 3543, 'ownGoals': '0',...",1
1,2576336,524,181248,4406278,2018-05-20 18:45:00,3158,0,20603,home,3315,...,0,0,210119,away,3158,1,0,1,"{'bench': [{'playerId': 289122, 'ownGoals': '0...",1
2,2576329,524,181248,4406278,2018-05-20 16:00:00,3173,0,251044,home,3173,...,0,0,210116,away,3172,0,0,1,"{'bench': [{'playerId': 418317, 'ownGoals': '0...",0
3,2576330,524,181248,4406278,2018-05-20 16:00:00,3165,0,272970,home,3165,...,0,0,83888,away,3219,0,0,1,"{'bench': [{'playerId': 531179, 'ownGoals': '0...",0
4,2576331,524,181248,4406278,2018-05-20 16:00:00,3163,0,267555,home,3163,...,1,0,20481,away,3166,0,0,1,"{'bench': [{'playerId': 299557, 'ownGoals': '0...",0

### EXPLORACION

In [43]:
match = rawdata.loc[0]
match

wyId                                                           2576335
competitionId                                                      524
seasonId                                                        181248
roundId                                                        4406278
dateutc                                            2018-05-20 18:45:00
winner                                                            3161
scoreET_home                                                         0
coachId_home                                                    251025
side_home                                                         home
teamId_home                                                       3162
score_home                                                           2
scoreP_home                                                          0
hasFormation_home                                                    1
formation_home       {'bench': [{'playerId': 4792, 'ownGoals': '2',...
scoreHT_home                                                         2
scoreET_away                                                         0
coachId_away                                                    101547
side_away                                                         away
teamId_away                                                       3161
score_away                                                           3
scoreP_away                                                          0
hasFormation_away                                                    1
formation_away       {'bench': [{'playerId': 3543, 'ownGoals': '0',...
scoreHT_away                                                         1
Name: 0, dtype: object

In [44]:
formacion = match['formation_home']

In [45]:
path = 'F:/TFG/datasets/nature-dataset/'

matches={}
nations = ['Italy','England','Germany','France','Spain','European_Championship','World_Cup']
for nation in nations:
    with open(path + '/matches/matches_%s.json' %nation) as json_data:
        matches[nation] = json.load(json_data)
        
# loading the events data
events={}
nations = ['Italy','England','Germany','France','Spain','European_Championship','World_Cup']
for nation in nations:
    with open(path + '/events/events_%s.json' %nation) as json_data:
        events[nation] = json.load(json_data)

In [14]:
# loading the players data
path = 'F:/TFG/datasets/nature-dataset/'

players={}
with open(path + '/players.json',encoding='utf-8') as json_data:
    players = json.load(json_data)
    
# loading the teams data
teams={}
with open(path + '/teams.json',encoding='utf-8') as json_data:
    teams = json.load(json_data)

In [46]:
partidos = []
eventos  = []

paises = ['Italy','England','Germany','France','Spain']

for pais in paises:
    for m in matches[pais]:
        partidos.append(m)
    for e in events[pais]:
        eventos.append(e)
        
partidos = np.array(partidos,dtype=dict)
eventos = np.array(eventos,dtype=dict)
partidos.shape

(1826,)

In [47]:
tags = pd.read_csv(path+'tags2name.csv')
tags.set_index('Tag',inplace=True,drop=True)

In [48]:
len(eventos)

3071395

In [3]:
# eventosDF = pd.DataFrame(list(eventos),columns=list(eventos[0].keys()))
eventosDF = pd.read_json(path_rawdata+'eventos_raw.json')
eventosDF.set_index('id',inplace=True)
teams = pd.read_csv(path_rawdata+'teams.csv',index_col='wyId',delimiter=';')
players = pd.read_csv(path_rawdata+'players.csv',index_col='wyId',delimiter=';')

In [4]:
eventos_dict = list(set(zip(eventosDF.eventId,eventosDF.eventName)))
eventos_dict = {v:k for k,v in eventos_dict}
eventos_dict

{'Goalkeeper leaving line': 4,
 'Foul': 2,
 'Shot': 10,
 'Save attempt': 9,
 'Offside': 6,
 'Free Kick': 3,
 'Duel': 1,
 'Pass': 8,
 'Interruption': 5,
 'Others on the ball': 7}

In [5]:
passes = eventosDF[eventosDF.eventId == 8]
shots = eventosDF[eventosDF.eventId == eventos_dict['Shot']]

#### VAMOS A PROBAR CON ESTADISTICAS DE UN EQUIPO

En este caso usaremos el Atalanta como modo de ejemplo

In [38]:
teams.name[3172]

'Atalanta'

In [39]:
shots_atalanta = shots[shots.teamId == 3172] # atalanta = 3172
passes_atalanta = passes[passes.teamId == 3172]

#### Vamos a ver por ejemplo los jugadores con mÃ¡s disparos:

In [78]:
shots_atalanta['counter'] = np.ones(len(shots_atalanta))
shots_atalanta.columns

<ipython-input-78-3ca487ab2f02>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shots_atalanta['counter'] = np.ones(len(shots_atalanta))

Index(['eventId', 'subEventName', 'tags', 'playerId', 'positions', 'matchId',
       'eventName', 'teamId', 'matchPeriod', 'eventSec', 'subEventId', 'id',
       'counter'],
      dtype='object')

In [86]:
top5_shooters_atalanta = shots_atalanta.groupby('playerId').sum('counter').sort_values('counter',ascending=0)[:5]
top5_shooters_atalanta

,eventId,matchId,teamId,eventSec,subEventId,id,counter
playerId,,,,,,,
21077,880,226702467,279136,125796.051632,8800.0,19523761415,88.0
20820,780,200938018,247416,106492.935640,7800.0,16769063530,78.0
20404,680,175180900,215696,95805.345080,6800.0,15439971114,68.0
49991,440,113352937,139568,62198.265437,4400.0,10089179478,44.0
246175,390,100468819,123708,49496.794272,3900.0,8354102237,39.0

In [173]:
for p in top5_shooters_atalanta.itertuples():
    pl = players.loc[p.Index]
    print(pl.firstName + ' ' + pl.lastName + ' -> ' + str(p.counter))

Alejandro Dar\u00edo G\u00f3mez -> 88.0
Josip Ili\u010di\u0107 -> 78.0
Bryan Cristante -> 68.0
Remo Freuler -> 44.0
Andrea Petagna -> 39.0

#### Jugadores con mÃ¡s porcentaje de acierto de disparo (en Atalanta)

In [228]:
list(shots_atalanta[:20].tags)

["[{'id': 402}, {'id': 201}, {'id': 1203}, {'id': 1801}]",
 "[{'id': 1901}, {'id': 401}, {'id': 1216}, {'id': 1802}]",
 "[{'id': 401}, {'id': 201}, {'id': 1201}, {'id': 1801}]",
 "[{'id': 401}, {'id': 201}, {'id': 1214}, {'id': 1802}]",
 "[{'id': 401}, {'id': 2101}, {'id': 1802}]",
 "[{'id': 402}, {'id': 1216}, {'id': 1802}]",
 "[{'id': 403}, {'id': 2101}, {'id': 1802}]",
 "[{'id': 402}, {'id': 1212}, {'id': 1802}]",
 "[{'id': 402}, {'id': 201}, {'id': 1201}, {'id': 1801}]",
 "[{'id': 403}, {'id': 2101}, {'id': 1802}]",
 "[{'id': 401}, {'id': 201}, {'id': 1206}, {'id': 1801}]",
 "[{'id': 401}, {'id': 1210}, {'id': 1802}]",
 "[{'id': 401}, {'id': 201}, {'id': 1205}, {'id': 1801}]",
 "[{'id': 402}, {'id': 201}, {'id': 1220}, {'id': 1802}]",
 "[{'id': 403}, {'id': 201}, {'id': 1213}, {'id': 1802}]",
 "[{'id': 401}, {'id': 2101}, {'id': 1802}]",
 "[{'id': 401}, {'id': 2101}, {'id': 1802}]",
 "[{'id': 403}, {'id': 2101}, {'id': 1802}]",
 "[{'id': 101}, {'id': 403}, {'id': 201}, {'id': 1204}, {'id': 1801}]",
 "[{'id': 402}, {'id': 2101}, {'id': 1802}]"]

In [225]:
acc = [int('1801' in tag) for tag in list(shots_atalanta.tags)]

In [251]:
shots_atalanta['accuracy'] = acc

<ipython-input-251-dd2b615aa5df>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shots_atalanta['accuracy'] = acc

In [253]:
top5_acc_atalanta = shots_atalanta.groupby('playerId').mean('accuracy').sort_values('accuracy',ascending=0)[:5]
top5_acc_atalanta

,eventId,matchId,teamId,eventSec,subEventId,id,counter,accuracy
playerId,,,,,,,,
288663,10.0,2.576149e+06,3172.0,1292.882722,100.0,2.191771e+08,1.0,0.666667
491409,10.0,2.576295e+06,3172.0,1505.019687,100.0,2.465172e+08,1.0,0.500000
263803,10.0,2.576139e+06,3172.0,1678.174383,100.0,2.174004e+08,1.0,0.500000
20820,10.0,2.576128e+06,3172.0,1365.294047,100.0,2.149880e+08,1.0,0.448718
135150,10.0,2.576101e+06,3172.0,1432.497449,100.0,2.101339e+08,1.0,0.384615

In [254]:
for p in top5_acc_atalanta.itertuples():
    pl = players.loc[p.Index]
    print(pl.firstName + ' ' + pl.lastName + ' -> ' + str(p.accuracy))

Mattia Caldara -> 0.6666666666666666
Musa Barrow -> 0.5
Timothy Castagne -> 0.5
Josip Ili\u010di\u0107 -> 0.44871794871794873
Andreas Evald Cornelius -> 0.38461538461538464

#### Acierto disparos total del equipo (Atalanta)

In [259]:
print(f'Acierto total del equipo: {np.array(acc).mean()}')

Acierto total del equipo: 0.3619047619047619

# DATASET EVENTOS

In [6]:
matches = pd.read_csv(path_rawdata+'Nature_wStatsDB_v2.csv',index_col='dateutc')
matches.index = pd.to_datetime(matches.index)
matches[:4]

,wyId,competitionId,seasonId,roundId,winner,teamId_home,score_home,scoreHT_home,teamId_away,score_away,...,AS,HST,AST,HC,AC,HF,AF,B365H,B365D,B365A
dateutc,,,,,,,,,,,,,,,,,,,,,
2018-05-20 18:45:00,2576335,524,181248,4406278,3161,3162,2,2,3161,3,...,15,4,6,10,4,12,13,2.40,3.5,2.90
2018-05-20 18:45:00,2576336,524,181248,4406278,3158,3315,0,0,3158,1,...,15,3,6,5,9,14,8,4.00,3.8,1.85
2018-05-20 16:00:00,2576329,524,181248,4406278,3173,3173,1,0,3172,0,...,12,4,4,5,11,17,14,3.10,3.6,2.25
2018-05-20 16:00:00,2576330,524,181248,4406278,3165,3165,1,0,3219,0,...,12,5,1,2,4,13,9,1.53,4.5,5.75

Vamos a limpiar el dataset de disparos:
- Posiciones: en un array [y0,x0,y1,x1]
- Accuracy: 1 o 0
- Goal: 1 o 0

In [7]:
# posiciones y tags en formato array
shots['positions'] = [[p.positions[0]['y'],p.positions[0]['x'],p.positions[1]['y'],p.positions[1]['y'],] for p in shots.itertuples()]
shots['tags'] = [[t['id'] for t in s.tags] for s in shots.itertuples()]

<ipython-input-7-70f8ec57238f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shots['positions'] = [[p.positions[0]['y'],p.positions[0]['x'],p.positions[1]['y'],p.positions[1]['y'],] for p in shots.itertuples()]
<ipython-input-7-70f8ec57238f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shots['tags'] = [[t['id'] for t in s.tags] for s in shots.itertuples()]

In [8]:
posDF = pd.DataFrame(shots["positions"].to_list(), columns=['y0', 'x0','y1','x1'])
posDF.shape

(40461, 4)

In [9]:
shots.reset_index(inplace=True)

In [10]:
posDF

       y0  x0   y1   x1
0      41  80    0    0
1      33  95  100  100
2      63  72  100  100
3      62  91  100  100
4      26  86    0    0
...    ..  ..  ...  ...
40456  66  93    0    0
40457  32  90    0    0
40458  25  92    0    0
40459  30  82  100  100
40460  43  88  100  100

[40461 rows x 4 columns]

In [11]:
for c in list(posDF.columns):
    shots[c] = posDF[c]

<ipython-input-11-999ec53f3b66>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shots[c] = posDF[c]

In [12]:
shots = shots.drop('positions',axis=1)

In [13]:
shots['accuracy'] = [int(1801 in t) for t in shots.tags]
shots['goal'] = [int(101 in t) for t in shots.tags]

In [14]:
shots

,id,eventId,subEventName,tags,playerId,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,y0,x0,y1,x1,accuracy,goal
0,180424028,10,Shot,"[402, 201, 1203, 1801]",21077,2575959,Shot,3172,1H,193.924279,100,41,80,0,0,1,0
1,180424079,10,Shot,"[401, 201, 1210, 1802]",8327,2575959,Shot,3158,1H,250.843152,100,33,95,100,100,0,0
2,180424208,10,Shot,"[402, 2101, 1802]",20879,2575959,Shot,3158,1H,633.577774,100,63,72,100,100,0,0
3,180424444,10,Shot,"[1901, 402, 201, 1210, 1802]",23149,2575959,Shot,3158,1H,1359.469422,100,62,91,100,100,0,0
4,180424409,10,Shot,"[1901, 401, 1216, 1802]",295176,2575959,Shot,3172,1H,1412.601525,100,26,86,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40456,253302272,10,Shot,"[1901, 402, 2101, 201, 1802]",267134,2565927,Shot,682,2H,1776.027412,100,66,93,0,0,0,0
40457,253302329,10,Shot,"[402, 2101, 1802]",267134,2565927,Shot,682,2H,1944.188119,100,32,90,0,0,0,0
40458,253302547,10,Shot,"[101, 401, 201, 1205, 1801]",134174,2565927,Shot,682,2H,2385.837008,100,25,92,0,0,1,1
40459,253302642,10,Shot,"[402, 201, 1206, 1801]",3321,2565927,Shot,675,2H,2722.835144,100,30,82,100,100,1,0
40460,253302686,10,Shot,"[401, 201, 1212, 1802]",4498,2565927,Shot,675,2H,2857.346465,100,43,88,100,100,0,0

#### Funcion que selecciona los partidos del ultimo mes

In [ ]:
def n_matches(db,n):

### 5 jugadores mÃ¡s disparan cada equipo

De cada partido calculamos los 5 jugadores que mas disparan. Hacemos un dataframe con una columna donde salgan esos 5 jugadores.
MÃ¡s tarde, para cada equipo podemos sacar los 5 jugadores que mÃ¡s aparezcan en cada lista, en cada partido.

Convendria asignar pesos, ya que alomejor un jugador abarca el 40% de los disparos de un equipo, y por lo tanto no tiene la misma importancia que el resto de los 5 jugadores que mÃ¡s disparan.
A lo mejor podriamos para ello sacar la distribucion de disparos de los jugadores, para calcular el peso de cada jugador.

P.e. La calidad (en cuanto a disparos) de un jugador puede depender de cuantos disparos x partido

Podriamos por ejemplo representar en una grÃ¡fica donde x= # jugadores importantes (mas disparan) que le faltan al equipo, y donde y = # goles marcados o resultado (v-e-d) p.e.

In [19]:
shots[-3:]

,id,eventId,subEventName,tags,playerId,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,y0,x0,y1,x1,accuracy,goal
40458,253302547,10,Shot,"[101, 401, 201, 1205, 1801]",134174,2565927,Shot,682,2H,2385.837008,100,25,92,0,0,1,1
40459,253302642,10,Shot,"[402, 201, 1206, 1801]",3321,2565927,Shot,675,2H,2722.835144,100,30,82,100,100,1,0
40460,253302686,10,Shot,"[401, 201, 1212, 1802]",4498,2565927,Shot,675,2H,2857.346465,100,43,88,100,100,0,0

##### Podemos sacar de cada partido informaciÃ³n de los disparos (avg position, avg shots accuracy, avg goal accuracy)

In [20]:
s2579 = shots[shots.matchId == 2565927]
s2579

,id,eventId,subEventName,tags,playerId,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,y0,x0,y1,x1,accuracy,goal
40436,253300553,10,Shot,"[402, 201, 1212, 1802]",274435,2565927,Shot,682,1H,164.057495,100,70,88,0,0,0,0
40437,253300589,10,Shot,"[402, 201, 1202, 1801]",3306,2565927,Shot,675,1H,276.335735,100,31,75,100,100,1,0
40438,253300649,10,Shot,"[402, 201, 1203, 1801]",3322,2565927,Shot,675,1H,424.938013,100,27,72,100,100,1,0
40439,253300739,10,Shot,"[101, 402, 201, 1205, 1801]",8278,2565927,Shot,675,1H,612.380233,100,48,86,100,100,1,1
40440,253300892,10,Shot,"[401, 201, 1215, 1802]",3322,2565927,Shot,675,1H,1008.119968,100,38,74,100,100,0,0
40441,253300961,10,Shot,"[402, 201, 1201, 1801]",20623,2565927,Shot,682,1H,1068.877064,100,34,80,0,0,1,0
40442,253301092,10,Shot,"[402, 2101, 1802]",274435,2565927,Shot,682,1H,1436.110289,100,61,78,0,0,0,0
40443,253301172,10,Shot,"[402, 201, 1216, 1802]",40756,2565927,Shot,675,1H,1718.550324,100,35,74,100,100,0,0
40444,253301230,10,Shot,"[401, 201, 1210, 1802]",399676,2565927,Shot,682,1H,1762.594315,100,65,77,0,0,0,0
40445,253301228,10,Shot,"[101, 403, 201, 1202, 1801]",3322,2565927,Shot,675,1H,1893.736105,100,48,93,100,100,1,1
40446,253301373,10,Shot,"[402, 201, 1214, 1802]",8287,2565927,Shot,675,1H,2188.604899,100,59,88,100,100,0,0
40447,253301387,10,Shot,"[1901, 402, 2101, 201, 1802]",3563,2565927,Shot,675,1H,2270.899982,100,36,91,100,100,0,0
40448,253301393,10,Shot,"[401, 201, 1210, 1802]",3322,2565927,Shot,675,1H,2307.255655,100,66,90,100,100,0,0
40449,253301413,10,Shot,"[402, 201, 1207, 1801]",14723,2565927,Shot,675,1H,2371.426032,100,66,79,100,100,1,0
40450,253301774,10,Shot,"[402, 1214, 1802]",364860,2565927,Shot,682,2H,504.377280,100,46,67,0,0,0,0
40451,253301805,10,Shot,"[402, 201, 1216, 1802]",3563,2565927,Shot,675,2H,547.140185,100,82,90,100,100,0,0
40452,253301977,10,Shot,"[402, 201, 1212, 1802]",4501,2565927,Shot,675,2H,1063.745504,100,72,74,100,100,0,0
40453,253302113,10,Shot,"[403, 201, 1203, 1801]",274435,2565927,Shot,682,2H,1263.415273,100,40,91,0,0,1,0
40454,253302208,10,Shot,"[101, 403, 201, 1209, 1801]",267134,2565927,Shot,682,2H,1501.813224,100,29,88,0,0,1,1
40455,253302307,10,Shot,"[402, 201, 1201, 1801]",3321,2565927,Shot,675,2H,1732.077911,100,70,88,100,100,1,0
40456,253302272,10,Shot,"[1901, 402, 2101, 201, 1802]",267134,2565927,Shot,682,2H,1776.027412,100,66,93,0,0,0,0
40457,253302329,10,Shot,"[402, 2101, 1802]",267134,2565927,Shot,682,2H,1944.188119,100,32,90,0,0,0,0
40458,253302547,10,Shot,"[101, 401, 201, 1205, 1801]",134174,2565927,Shot,682,2H,2385.837008,100,25,92,0,0,1,1
40459,253302642,10,Shot,"[402, 201, 1206, 1801]",3321,2565927,Shot,675,2H,2722.835144,100,30,82,100,100,1,0
40460,253302686,10,Shot,"[401, 201, 1212, 1802]",4498,2565927,Shot,675,2H,2857.346465,100,43,88,100,100,0,0

In [85]:
s2579_stats = s2579.groupby('teamId').agg(
    y0=('y0','mean'),x0=('x0','mean'),y1=('y1','mean'),x1=('x1','mean'),
    acc_count=('accuracy','sum'),acc_avg=('accuracy','mean'),
    goal_count=('goal','sum'),match=('matchId','mean')
).reset_index()

s2579_stats

,teamId,y0,x0,y1,x1,acc_count,acc_avg,goal_count,match
0,675,50.066667,82.933333,100,100,7,0.466667,2,2565927
1,682,46.800000,84.400000,0,0,4,0.400000,2,2565927

In [108]:
# jugadores con mas disparos en el partido
np.argsort(np.bincount(s2579[s2579.teamId == 682].playerId))[::-1][:3]

array([274435, 267134, 399676], dtype=int64)

In [109]:
# nÂº disparos de los jugadores con mas disparos
np.sort(np.bincount(s2579[s2579.teamId == 682].playerId))[::-1][:3]

array([3, 3, 1], dtype=int64)

#### EstadÃ­sticas de la temporada de cada equipo

In [69]:
shots[:3]

,id,eventId,subEventName,tags,playerId,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,y0,x0,y1,x1,accuracy,goal
0,180424028,10,Shot,"[402, 201, 1203, 1801]",21077,2575959,Shot,3172,1H,193.924279,100,41,80,0,0,1,0
1,180424079,10,Shot,"[401, 201, 1210, 1802]",8327,2575959,Shot,3158,1H,250.843152,100,33,95,100,100,0,0
2,180424208,10,Shot,"[402, 2101, 1802]",20879,2575959,Shot,3158,1H,633.577774,100,63,72,100,100,0,0

In [83]:
team_stats = shots.groupby('teamId').agg(
    y0=('y0','mean'),x0=('x0','mean'),y1=('y1','mean'),x1=('x1','mean'),
    shots_count=('accuracy','count'),acc_count=('accuracy','sum'),
    acc_avg=('accuracy','mean'),
    goal_count=('goal','sum'),goal_avg=('goal','mean'),
).reset_index()

In [75]:
shots.describe()

,id,eventId,playerId,matchId,teamId,eventSec,y0,x0,y1,x1,accuracy,goal
count,4.046100e+04,40461.0,40461.000000,4.046100e+04,40461.000000,40461.000000,40461.000000,40461.000000,40461.000000,40461.000000,40461.000000,40461.000000
mean,2.173408e+08,10.0,96659.151380,2.532576e+06,2607.800994,1472.311896,49.233632,84.828427,44.519414,44.519414,0.358123,0.105558
std,2.145596e+07,0.0,122836.354337,3.319178e+04,2209.139800,818.661288,13.761680,8.096552,49.699338,49.699338,0.479454,0.307275
min,1.761217e+08,10.0,0.000000,2.499719e+06,674.000000,1.238426,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,1.989031e+08,10.0,11294.000000,2.500764e+06,1612.000000,762.290406,39.000000,79.000000,0.000000,0.000000,0.000000,0.000000
50%,2.181693e+08,10.0,25715.000000,2.516887e+06,2455.000000,1480.565291,49.000000,87.000000,0.000000,0.000000,0.000000,0.000000
75%,2.337738e+08,10.0,173214.000000,2.565869e+06,3197.000000,2181.204230,60.000000,91.000000,100.000000,100.000000,1.000000,0.000000
max,2.557092e+08,10.0,564512.000000,2.576338e+06,19830.000000,3490.826794,100.000000,100.000000,100.000000,100.000000,1.000000,1.000000

In [88]:
pd.DataFrame([],columns=s2579.columns)

Empty DataFrame
Columns: [id, eventId, subEventName, tags, playerId, matchId, eventName, teamId, matchPeriod, eventSec, subEventId, y0, x0, y1, x1, accuracy, goal]
Index: []

In [223]:
def best_shoot(data,n):
    ts = np.unique(data.teamId)
    s1 = np.argsort(np.bincount(data[data.teamId == ts[0]].playerId))[::-1][:n]
    if len(ts) == 2:
        s2 = np.argsort(np.bincount(data[data.teamId == ts[1]].playerId))[::-1][:n]
    else:
        print(ts)
        s2 = np.array(np.zeros(n))
    return s1, s2

In [224]:
top_shooters_1 = np.array([])
top_shooters_2 = np.array([])
shots_stats = pd.DataFrame([],columns=s2579_stats.columns)
n = 3

for m in matches.wyId.to_list():
    shots_m = shots[shots.matchId == m]
    shots_m_df = shots_m.groupby('teamId').agg(
        y0=('y0','mean'),x0=('x0','mean'),y1=('y1','mean'),x1=('x1','mean'),
        acc_count=('accuracy','sum'),acc_avg=('accuracy','mean'),
        goal_count=('goal','sum'),match=('matchId','mean'),
#         top_shooters=('playerId',best_shoot)
    ).reset_index()
    ts1, ts2 = best_shoot(shots_m,n)
    top_shooters_1 = np.append(top_shooters_1,ts1)
    top_shooters_2 = np.append(top_shooters_2,ts2)
    shots_stats = pd.concat([shots_stats,shots_m_df])
print(len(top_shooters_1),len(top_shooters_2))
top_shooters_1 = top_shooters_1.reshape(len(matches),n)
top_shooters_2 = top_shooters_2.reshape(len(matches),n)

[3161]
[1673]
[1612]
5478 5476

ValueError: cannot reshape array of size 5476 into shape (1826,3)

In [ ]:
top_shooters = np.array([])
for x1,x2 in zip(top_shooters_1,top_shooters_2):
    top_shooters = np.append(top_shooters,[x1,x2])
    
top_shooters = top_shooters.reshape(2*len(shots),n)

In [ ]:
shots_stats

In [ ]:
shots_stats = shots_stats.set_index(['match','teamId'])

In [ ]:
top_shooters.shape[0] == shots_stats.shape[0]

In [ ]:
shots_stats['top_shooters'] = top_shooters.tolist()
shots_stats